:root {
    --primary-color: hsla(169, 50%, 45%, 0.7);
    --primary-color-active: hsla(169, 80%, 48%, 0.9);
}

.page {
    margin: 20px;
}

.interactions {
    text-align: center;
}

.search-button {
    color: hsl(100, 100%, 100%);
    background-color: var(--primary-color);
    border-radius: 5px;
}

.search-button:hover {
    color: hsla(0, 0%, 0%, 0.7);
    background-color: var(--primary-color-active);
    border-radius: 5px;
}

.table-row:hover {
    background-color: var(--primary-color-active);
    border: var(--primary-color);
}

.dismiss-button:hover {
    color: rgba(255, 0, 0, 0.8) !important;
}

.more-button {
    text-transform: uppercase;
    font-weight: bold;
    color: var(--primary-color) !important;
}

.more-button:hover {
    color: var(--primary-color-active) !important;
}
