:root {
    --primary-color: hsla(169, 50%, 45%, 0.7);
    --primary-color-active: hsla(169, 80%, 48%, 0.9);
}

body {
    color: #222;
    background: #f4f4f4;
    font: 400 14px CoreSans, Arial, sans-serif;
}

a {
    color: #222;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.page {
    margin: 20px;
}

.logo {
    width: 25rem;
    margin-right: 1rem;
}

.interactions {
    display: flex;
    justify-content: center;
    align-items: center;
}

.table-row:hover {
    background-color: var(--primary-color-active);
    border: var(--primary-color);
}

.dismiss-button:hover {
    color: rgba(255, 0, 0, 0.8) !important;
}

.more-button {
    text-transform: uppercase;
    font-weight: bold;
    color: var(--primary-color) !important;
}

.more-button:hover {
    color: var(--primary-color-active) !important;
}
